<h2>Customize Your Card</h2>

<%= image_tag @template.image %>

<%= form_with url: template_customized_cards_path(@template), method: :post, local: true do %>

  <%= label_tag :name, "Recipient Name" %>
  <%= text_field_tag :name %><br><br>

  <%= label_tag :date, "Date" %>
  <%= text_field_tag :date %><br><br>

  <%= label_tag :message, "Your Message" %>
  <%= text_area_tag :message %><br><br>

  <%= submit_tag "Generate & Save Card" %>
<% end %>
